<div class="row no-gutters" *ngIf="loadCocktails">
  <div class="col-12">

    <div class="row">
      <div class="col-12">

         <!-- Muestra/oculta el filtro -->
        <button class="btn btn-block btn-primary mb-4 mt-4" (click)="hideShowFilter()">
          {{showFilter ? 'Ocultar filtro' : 'Mostrar filtro'}}
        </button>

      </div>
    </div>

    <div class="row" *ngIf="showFilter">
      <div class="col-12">

        <form (ngSubmit)="filterData()">

          <!-- Busqueda por -->
          <div class="row form-group">
            <div class="col-4">
              <label for="search">Buscar por</label>
              <select name="search" class="custom-select" id="search" [(ngModel)]="filter.searchBy">
                <option value="name">Nombre</option>
                <option value="glass">Vaso</option>
                <option value="ingredient">Ingrediente</option>
                <option value="category">Categoria</option>
              </select>
            </div>

            
            <!-- Segun el busqueda por, cambiaria el valor de value del input -->
            <div class="col-4" [ngSwitch]="filter.searchBy">
              <label *ngSwitchCase="'name'" for="value">Nombre</label>
              <label *ngSwitchCase="'glass'" for="value">Vaso</label>
              <label *ngSwitchCase="'ingredient'" for="value">Ingrediente</label>
              <label *ngSwitchCase="'category'" for="value">Categoria</label>
              <input type="text" name="value" id="value" class="form-control" [(ngModel)]="filter.value" />
            </div>

            <!-- Submit -->
            <div class="col-4 align-self-end">
              <button class="btn btn-block btn-primary" type="submit">Filtrar</button>
            </div>

          </div>


        </form>

      </div>
    </div>

    <!-- Recorro las lista de cocktails -->
    <div class="row" *ngIf="listCocktails.length > 0">
      <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4 mb-4" *ngFor="let cocktail of listCocktails | paginate: { itemsPerPage: items, currentPage: page }">

        <!-- Carta del cocktail -->
        <div class="card">
          <!-- Imagen del cocktail -->
          <img class="card-img-top img-fluid w-100" [src]="cocktail.img" />
          <div class="card-body">
            <!-- Nombre del cocktail -->
            <p class="card-text">{{cocktail.name}}</p>
          </div>
          <div class="card-footer">
            <!-- Boton para mostar los detalles -->
            <a href="#" class="btn btn-block btn-primary text-light" role="button" [routerLink]="['/detail-cocktail', cocktail.id]" routerLinkActive="router-link-active" >Ver detalles</a>
          </div>
        </div>

      </div>
    </div>

    <!-- Si hay mas elementos que numero de elementos a mostrar, mostraremos los controles de la paginacion -->
    <div class="row" *ngIf="listCocktails.length > items">
      <div class="col-12 text-center">
        <pagination-controls 
          previousLabel="Anterior"
          nextLabel="Siguiente"
          (pageChange)="page = $event">
        </pagination-controls>
      </div>
    </div>

    <!-- Se muestra cuando la lista de cocktails esta vacia -->
    <div class="row" *ngIf="listCocktails.length === 0">
      <div class="col-12 text-center">
        <p>No se encontraron cocktails.</p>
      </div>
    </div>

  </div>
</div>

<!-- Spinner -->
<div class="h-100" *ngIf="!loadCocktails">
  <div class="spinner">
    <img src="assets/img/spinner.gif">
  </div>
</div>