<div class="container h-100">

  <div class="row mt-4 mb-4" id="principal">

    <div class="col-12">
      
      <!-- Imagen del logo -->
      <div class="row">
        <div class="col-12 mt-4 mb-4 text-center">
          <img src="./assets/img/logo.png" />
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <!-- Segun la ruta, cargara un componente u otro -->
          <router-outlet></router-outlet>
        </div>
      </div>

    </div>

  </div>

</div>